* body{
  padding: 1rem;
  /* background: rgb(54, 54, 54); */
  margin: auto;
  vertical-align: middle;
}

.roleDetailCard {
  position: inherit;
  top: 50px
}

.site-layout-background{
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}
.contentWrapper {
  background-color: rgb(0, 40, 78);
  border-radius: 30px;
  display: flex;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  max-width: 1080px;
  margin: auto;
  left: 0;
  right: 0;

}

.formWrapper{
  background-color: rgba(162, 160, 161, 0.25);
  color: white;
  padding: .75rem;
  width: 300px;
  border-radius: 30px 0px 0px 30px;
}

.roleTableWrapper {
  background-color: rgba(162, 160, 161, 0.664);
  width: 1000px;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 30px;
  margin-left: 1rem;
  color: red!important;
}

.roleTable {
  background-color: rgba(255, 0, 128, 0.664);
  width: 1000px;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 30px;
  margin-left: 1rem;
  color: red!important;
}

.ant-pagination-item {
  color: white;
}

.ant-form-item-label>label{
  color: white !important;;
}

.ant-table-cell{
  max-width: 300px;
  max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  /* textOverflow: 'ellipsis',
  overflow: 'hidden',
  whiteSpace: 'nowrap', */
}

.formSlider .ant-slider-rail {
  background-color: rgba(162, 160, 161, 0.25);
}

.ant-checkbox-input>label{
  color: red!important;
}

.ant-tooltip-inner {
  color: yellow;
  background-color: green;
}