/* body {
    background-image: url('./5394549.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

/* body {
    background-image: url('./gradienta-rKv4HduvzIE-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

body {
    background-image: url('./magicpattern-bevXKKL7E9g-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}