body {
  background: rgb(127, 176, 208);
  background: linear-gradient(
    345deg,
    rgba(127, 176, 208, 1) 0%,
    rgba(204, 223, 255, 1) 51%,
    rgba(245, 245, 245, 1) 100%
  );
  height: 100vh;

}
